<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'appLaboulayeNews/css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaboulayeNews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="logo">
                <h1>LaboulayeNews</h1>
            </a>
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Noticias</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="main-section">
        <div class="info-container">
            <div class="info-box">
                <p class="info-text">Temperatura: {{ weather.data.values.temperature }}°C - 
                    Probabilidad de lluvia: {{ weather.data.values.precipitationProbability }}% - 
                    Humedad: {{ weather.data.values.humidity }}% - 
                    Nubosidad: {{ weather.data.values.cloudCover }}% -
                    Dolar oficial venta: {{ dollar_official.venta }} - 
                    Dolar oficial compra: {{ dollar_official.compra }} -
                    Dolar Blue venta: {{ dollar_blue.venta }} - 
                    Dolar Blue compra: {{ dollar_blue.compra }} - 
                    Temperatura: {{ weather.data.values.temperature }}°C - 
                    Probabilidad de lluvia: {{ weather.data.values.precipitationProbability }}% - 
                    Humedad: {{ weather.data.values.humidity }}% - 
                    Nubosidad: {{ weather.data.values.cloudCover }}% -
                    Dolar oficial venta: {{ dollar_official.venta }} - 
                    Dolar oficial compra: {{ dollar_official.compra }} -
                    Dolar Blue venta: {{ dollar_blue.venta }} - 
                    Dolar Blue compra: {{ dollar_blue.compra }} -
                </p>
            </div>
        </div>
    </section>
    <div class="container_publicidad">
        <img class="img_publicidad" src="{% static 'appLaboulayeNews/img/publicidad_horizontal.jpeg' %}" alt="">
    </div>
    <div class="grid-container">
        <div class="grid-item col-1">
            <img class="publicidad_vertical" src="{% static 'appLaboulayeNews/img/imagen_vertical.jpg' %}" alt="">
        </div>
        
            {% block content %}
            {% endblock %}
        
        <div class="grid-item col-3">
            <img class="publicidad_vertical" src="{% static 'appLaboulayeNews/img/imagen_vertical2.jpg' %}" alt="">
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p class="footer-text">&copy; 2023 LaboulayeNews. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
