{% extends 'appLaboulayeNews/base.html' %}
{% load static %}

{% block content %}

<form class="filter-form">
    <label for="options">Categorías:</label>
    <select id="options" name="opciones" class="filter-select">
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
</form>
    
    <div class="contenido_home">
        {% for news in recent_news %}
        <a href="/news/{{ news.id }}">
        <div class="noticia-card">
            <img src="{{ news.image.url }}" alt="Imagen de la noticia">
            <div class="contenido">
                <span class="categoria">{{ news.category }}</span>
                <span class="fecha">{{ news.date }}</span>
                <h2 class="titulo">{{ news.title }}</h2>
                <p class="sinopsis">{{ news.sinopsis }}</p>
                <span class="autor">Por {{ news.author }}</span>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
    <div class="pagination">
        <a href="/1/">Inicio</a>
        <a href="/{{ page.back }}/">Anterior</a>
        <a href="/{{ page.next }}/">Siguiente</a>
        <a href="/{{ page.last }}/">Final</a>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    var selectElement = document.getElementById("options");
    selectElement.addEventListener("change", function () {
        var selectedOption = selectElement.value;
        if (selectedOption) {
            window.location.href = "/category/" + selectedOption + "/1/";
        }
    });
});
</script>
{% endblock %}