{% extends 'appLaboulayeNews/base.html' %}
{% load static %}

{% block content %}
<div class="grid-item">
    <form>
        <label for="Categories">Categorias:</label>
        <select id="options" name="opciones">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
    </form>


<div class="contenido_home">

    {% for news in recent_news %}
        <div class="box">
            <a class="a_news" href="/news/{{ news.id }}">
                <img class="img_noticias" src="{% static 'appLaboulayeNews/img/noticias.jpg' %}" alt="">
                <h6 class="texto_box">{{ news.date }}</h6>
                <h3 class="texto_box">{{ news.category }}: {{ news.title }}</h3>
            </a>
        </div>
    {% endfor %}
    <div class="container_publicidad">
        <img class="img_publicidad_home" src="{% static 'appLaboulayeNews/img/publicidad_horizontal.jpeg' %}" alt="">
    </div>
    <div class="container_page_navigator">
        <a href="/category/{{ recent_news.1.category }}/1/">Inicio</a>  - <a href="/category/{{ recent_news.1.category }}/{{ page.back }}/">Anterior</a> - 
        <a href="/category/{{ recent_news.1.category }}/{{ page.next }}/">Siguiente</a> - <a href="/category/{{ recent_news.1.category }}/{{ page.last }}/">Final</a>
    </div>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    var selectElement = document.getElementById("options");
    selectElement.addEventListener("change", function () {
        var selectedOption = selectElement.value;
        if (selectedOption) {
            window.location.href = "/category/" + selectedOption + "/1/";
        }
    });
});
</script>

{% endblock %}
