{% extends 'appLaboulayeNews/base.html' %}
{% load static %}

{% block content %}

<section id="contact" class="contact sec-pad dynamicBg">
    <div class="contact-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main heading-sec__main--lt">Contacto</span>
        <span class="heading-sec__sub heading-sec__sub--lt">
            Puedes ponerte en contacto conmigo sin ningún problema al completar el formulario a continuación, 
            y te responderé lo más pronto posible.
        </span>
      </h2>
      <div class="contact__form-container">
        <form action="/contact" class="contact__form" method="POST">
          <div class="contact__form-field">
            <label class="contact__form-label" for="name">Nombre</label>
            <input
              required
              placeholder="Ingresa tu nombre"
              type="text"
              class="contact__form-input"
              name="name"
              id="name"
            />
          </div>
          <div class="contact__form-field">
            <label class="contact__form-label" for="email">Email</label>
            <input
              required
              placeholder="Ingresa tu email"
              type="text"
              class="contact__form-input"
              name="email"
              id="email"
            />
          </div>
          <div class="contact__form-field">
            <label class="contact__form-label" for="message">Mensaje</label>
            <textarea
              required
              cols="30"
              rows="10"
              class="contact__form-input"
              placeholder="Ingresa el mensaje"
              name="message"
              id="message"
            ></textarea>
          </div>
          <button type="submit" class="btn btn--theme contact__btn">
            Submit
          </button>
        </form>
      </div>
    </div>
  </section>

{% endblock %}