/* Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7
}

/* Header */
.header {
    background-color: #222;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f39c12;
}

/* Main Section */
.main-section {
    background-color: #f7f7f7;
    padding: 0;
    overflow: hidden;
    position: relative; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-container {
    margin: 0;
    width: 100%;
    background-color: #f7f7f7;
}

.info-box {
    display: flex;
    width: min-content;
    background-color: #f7f7f7;
    padding: 1.5rem;
    white-space: nowrap;
}

.info-text {
    font-size: 1rem;
    animation: scrollText1 20s linear infinite;
}

@keyframes scrollText1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.container_publicidad{
    display: flex;
    justify-content: center;
    margin:10px;
    border-radius: 5px;
}

.img_publicidad{
    min-width: 200px;
    width: 95%;
    height: auto;
}

/* Footer */
.footer {
    background-color: #222;
    padding: 1.5rem 0;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.footer-text {
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .logo {
        font-size: 1.2rem;
    }
    .col-1{
        display: none;
    }
    .col-3{
        display: none;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color:#f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.col-1{
    grid-column: 1;
}

.publicidad_vertical{
    position: sticky;
    top: 20px;
    height: 90vh;
}

.contenido_home {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    justify-content: center;
    background-color: #f2f2f2;
}

/* Estilos para los recuadros en la columna 2 */
.box {
    min-width: 200px;
    width: 35%;
    height: auto;
    background-color: #bebebe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.box:hover{
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img_publicidad_home{
    min-width: 200px;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del contenedor padre */
}

.img_noticias{
    width: 100%;
    border-radius: 5px;
}

.texto_box{
    margin: 0;
}

.box_publicidad{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.container_page_navigator{
    display: flex;
    justify-content: center;
    align-self: end;
}

.container_page_navigator a{
    background-color: #bebebe;
    padding: 3px;
    border-radius: 5px;
}
.container_page_navigator a:hover{
    color: #f39c12;
    transition: color 0.3s;
} 

.container_page_navigator{
    gap: 10px;
    font-weight: 500;
    transition: color 0.3s;
}
.container-categories a{
    background-color: #bebebe;
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
    transition: color 0.3s;
}
.container-categories a:hover {
    color: #f39c12;
    background-color: #ddd;
}